button{
    color: red;
}

.second-5{
    color: aqua;

}


#third-five-5{
    color: orange;
}
    

    

    

p{
    color: #00fe00;
    font-size: 3em;
    
    font-family: normal;
    font-weight: 200;
    
}
 

