div{
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    text-align: center;
    text-align: right;
    text-align: left;
    text-shadow: 5px 10px 15px white;
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through;
}