*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(107, 19, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

main{
    width: 1400px;
    height: 600px;
    background-color: rgb(144, 213, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;


}
.big-box{
    width: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
    
    position: relative;
    height: 400px;
    
}
p{
    color: skyblue;
    

    
    font-size: 2em;
    position: relative;
    top: 60px;
}

input[type="text"]{
    width: 200px;
    height: 30px;
    position: relative;
    top: 60px;

}
input[type="password"]{
    width: 200px;
    height: 30px;
    position: relative;
    top: 60px;
    
}

input[type="submit"]{
    width: 200px;
    height: 30px;
    background-color: skyblue;
    color: white;
    position: relative;
    top: 60px;
}

