.div1{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border-radius: 10%;
    border: 5px solid black;
    margin-left: 200px;
}

.div2{
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 300px;
    margin-bottom: 50px;
    background-color: aqua;
}