*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

header {
  background: rgb(33, 33, 52);
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #fff;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  margin-top: 145px;
}

.watch {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  border: 10px solid #7e7d7d;
}

.right h1 {
  font-weight: 700;
  margin-bottom: 30px;
}

.right p {
  max-width: 500px;
  color: #7e7d7d;
  line-height: 1.4;
}

.right h3 {
  margin: 30px 0;
}