*{
    padding: 80px;
    
}

div{
    background-color: green;
    border-radius: 30%;
    width: 1px;
    height: 1px;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: once;
    transition: 0.5s;






}

@keyframes move{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0px);
    }
}

div:hover{
    transform: rotate(360deg);

}