body{
    background-color: rgb(6, 87, 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 300px;
    width: 500px;
    position: relative;
    top: 200px;
    
    
    background-color: white;
}

input[type="button"]{
    display: flex;
    align-items: center;
    
    background-color: rgb(12, 249, 12);
    color: white;
    width: 200px;
    height: 30px;
    position: relative;
    top: 100px;
    left: 150px;
}

input[type="text"]{
    position: relative;
    left: 150px;
    top: 50px;
    width: 200px;
    height: 20px;
    
}

input[type="password"]{
    position: relative;
    left: 150px;
    top: 75px;
    height: 20px;
    width: 200px;
}

h3{
    position: relative;
    top: 50px;
    left: 220px;
    color: white;
}