body{
    background-color: grey;
    
}
main{
    background-color: red;
    color: white;
    text-shadow: 10px 10 px 10 px black;
}

section{
    background-color: blue;
    color: white;
}

footer{
    background-color: gold;
    color: red;
    text-shadow: 10px 10px 10px white;
}
