body{
    background-color: hsl(185, 90%, 27%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    
    
}

.div1{
    background-color: white;
    
    
    border-radius: 10%;
    
    width: 400px;
    height: 400px;
    position: relative;
    top: 200px;
    
    
}

.div2{
    background-color: hsl(185, 75%, 39%);
    width:400px;
    height: 120px;
    border-radius: 10% 10% 0 0;
}

.img1{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 50px;
    
    left: 150px;
    border-radius: 100%;

}

.p1{
    font-size: 20px;
    font-weight: bold;
    
    position: relative;
    bottom: 50px;
    left: 130px;
}

.p2{
    font-size: 15px;
    position: relative;
    bottom: 92.5px;
    left: 250px;
    font-size: 20px;
    color:hsl(0, 0%, 59%) ;
}

.p3{
    font-size: 15px;
    position: relative;
    bottom: 90px;
    left: 150px;
    font-size: 20px;
    color:hsl(0, 0%, 59%) ;
}

.p4{
    font-size: 20px;
    position: relative;
    bottom: 50px;
    left: 70px;
    font-size: 20px;
    
}

.p5{
    font-size: 17px;
    position: relative;
    bottom: 70px;
    left: 50px;
    
    color:hsl(0, 0%, 59%) ;
}

.p6{
    font-size: 20px;
    position: relative;
    bottom: 135px;
    left: 170px;
    
}

.p7{
    font-size: 17px;
    position: relative;
    bottom: 150px;
    left: 170px;
    color:hsl(0, 0%, 59%) ;
    
}

.p8{
    font-size: 20px;
    position: relative;
    bottom: 215px;
    left: 280px;
    
}

.p9{
    font-size: 17px;
    position: relative;
    bottom: 230px;
    left: 280px;
    color:hsl(0, 0%, 59%) ;
    
}